<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.javaApplet">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/sampleappletsandapplications/src/Cingo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<intAttribute key="org.eclipse.jdt.launching.APPLET_HEIGHT" value="250"/>
<stringAttribute key="org.eclipse.jdt.launching.APPLET_NAME" value=""/>
<mapAttribute key="org.eclipse.jdt.launching.APPLET_PARAMETERS">
<mapEntry key="duration" value="300"/>
<mapEntry key="words" value="lingo;integral;hello;tangent;private;public;pseudocode;algorithm;method;total;calculus;secant;theorem;proof;geometry;trigonometry;algebra;corollary;lemma;primitive;linux;operating;kernel;popcorn;movie;time;access;interface;superclass;subclass;transient;final;import;package;void;int;double;static;class;variable;instance;polymorphism;encapsulation;information;protected;native;synchronized;junk;division;ordering;choice;axiom;paradox;infinity;computer;continuous;incomplete;bounded;limit;asymptote;measure;hypothesis;induction;mathematics;primitive;solution;equation;slope;logic;disassemble;discombobulate;complete;sequence"/>
</mapAttribute>
<intAttribute key="org.eclipse.jdt.launching.APPLET_WIDTH" value="400"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Cingo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="sampleappletsandapplications"/>
</launchConfiguration>
